<template name="navbar">

  <!-- Horizonal Navigation bar -->
  <nav class="nav-fixed">
    <div class="nav-wrapper container">

      <!-- menu button -->
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>

      <!-- app title as logo -->
      <div>
        <a href="/" id="logo-container" class="brand-logo"
            style="font-size: 1.5em">
          {{title}}
        </a>
      </div>

      <!-- right navbar for large views -->
      <ul id="nav-right" class="right hide-on-med-and-down">

        <!-- home item -->
        {{> navbarItemHome activePage=activePage}}

        <!-- secure item -->
        {{> navbarItemSecure activePage=activePage}}

        <!-- more dropdown menu trigger -->
        <li>
          <a class="dropdown-trigger" href="#!"
              data-target="navbar-more-dropdown">
            <i class="material-icons left">menu</i>
            More
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>

    </div>
  </nav>

  <!-- more dropdown content -->
  <ul id="navbar-more-dropdown" class="dropdown-content">
    <li>
      <a href="/terms">
        <i class="material-icons left">library_books</i>
        <div class="truncate">Terms of Use</div>
      </a>
    </li>
    <li>
      <a href="/contact">
        <i class="material-icons left">call</i>
        <div class="truncate">Contact Us</div>
      </a>
    </li>
    {{#if currentUser}}
      <li class="waves-effect">
        <a href="{{pathFor 'account'}}">
          <i class="material-icons left">person</i>
          <div class="truncate">Settings</div>
        </a>
      </li>
    {{else}}
      <li class="waves-effect">
        <a href="{{pathFor 'account'}}">
          <i class="material-icons left">person</i>
          <div class="truncate">Sign In</div>
        </a>
      </li>
    {{/if}}
  </ul>

  <!-- sliding sidebar navigation -->
  <ul id="slide-out" class="sidenav">
    {{> navbarItemHome activePage=activePage}}
    {{> navbarItemSecure activePage=activePage}}
    {{> navbarItemSettings activePage=activePage}}
    {{> navbarItemTerms activePage=activePage}}
    {{> navbarItemContact activePage=activePage}}
    {{> navbarItemAccount activePage=activePage}}
  </ul>
</template>

<template name="navbarItem">
  <li class="{{active}} navbarItemSelector">
    {{> UI.contentBlock}}
  </li>
</template>

<template name="navbarItemHome">
  {{#navbarItem pageName="home" activePage=activePage}}
    <a href="{{pathFor 'home'}}">
      <div class="valign-wrapper">
        <i class="material-icons">home</i>&nbsp;&nbsp;&nbsp;&nbsp;Home
      </div>
    </a>
  {{/navbarItem}}
</template>

<template name="navbarItemSettings">
  {{#if currentUser}}
    {{#navbarItem pageName="settings" activePage=activePage}}
      <a href="{{pathFor 'settings'}}">
        <div class="valign-wrapper">
          <i class="material-icons">settings</i>&nbsp;&nbsp;&nbsp;&nbsp;Settings
        </div>
      </a>
    {{/navbarItem}}
  {{/if}}
</template>

<template name="navbarItemSecure">
  {{#if currentUser}}
    {{#navbarItem pageName="secure" activePage=activePage}}
      <a href="{{pathFor 'secure'}}">
        <div class="valign-wrapper">
          <i class="material-icons">lock</i>&nbsp;&nbsp;&nbsp;&nbsp;Secure
        </div>
      </a>
    {{/navbarItem}}
  {{/if}}
</template>

<template name="navbarItemTerms">
  {{#navbarItem pageName="terms" activePage=activePage}}
    <a href="{{pathFor 'terms'}}">
      <div class="valign-wrapper">
        <i class="material-icons">library_books</i>&nbsp;&nbsp;&nbsp;&nbsp;Terms of Use
      </div>
    </a>
  {{/navbarItem}}
</template>

<template name="navbarItemContact">
  {{#navbarItem pageName="contact" activePage=activePage}}
    <a href="{{pathFor 'contact'}}">
      <div class="valign-wrapper">
        <i class="material-icons">call</i>&nbsp;&nbsp;&nbsp;&nbsp;Contact Us
      </div>
    </a>
  {{/navbarItem}}
</template>

<template name="navbarItemAccount">
  {{#navbarItem pageName="contact" activePage=activePage}}
    {{#if currentUser}}
      <a href="{{pathFor 'account'}}">
        <div class="valign-wrapper">
          <i class="material-icons">call</i>&nbsp;&nbsp;&nbsp;&nbsp;Settings
        </div>
      </a>
    {{else}}
      <a href="{{pathFor 'account'}}">
        <div class="valign-wrapper">
          <i class="material-icons">call</i>&nbsp;&nbsp;&nbsp;&nbsp;Sign In
        </div>
      </a>
    {{/if}}
  {{/navbarItem}}
</template>
