<template name="signInFormEmailPassword">

  {{#if currentUser}}
    <div class="col s12">
      <p>You are already signed in.</p>
    </div>
  {{else}}
    {{#autoForm id="signInFormEmailPassword" schema=schema resetOnSuccess=false}}
      <div class="col s12">
        {{> afQuickField name="email"}}
      </div>
      <div class="col s12">
        {{> afQuickField name="password"}}
      </div>
      <div class="col s12">
        <a href="{{pathFor 'signUp'}}" class="">Register</a>
        &nbsp;&nbsp;&nbsp;
        <a href="{{pathFor 'passwordForgot'}}" class="">Forgot Password?</a>
        <br><br>
        <button type="submit" class="btn waves-effect">Sign In</button>
      </div>
    {{/autoForm}}
  {{/if}}

</template>
